.sub-menu {
    background-color: #b1d691;
}

.sub-menu__item {
    width: 100%;
}

.sub-menu__keys {
    display: flex;
    list-style: none;
    align-items: baseline;
}

.sub-menu__key-item{}
.sub-menu__key-item--selected {
    color: white;
}
