
    $color-primary-light       : #D7EEF4;
    $color-primary-normal      : #69C8CC;
    //$color-primary-dark        : #04303D;
    $color-primary-dark        : #93b874;

    /*$color-primary-light     : #D7EEF4;*/
    $color-secondary-normal    : #F7CE72;
    /*$color-primary-dark      : #04303D;*/

    /*$color-primary-light     : #D7EEF4;*/
    $color-thirdly-normal      : #F7B3B2;
    /*$color-primary-dark      : #04303D;*/

    $color-white               : #FFFFFF;
    $color-black               : #000000;



    $text-size-xxxl            : 2.441rem;
    $text-size-xxl             : 1.953rem;
    $text-size-xl              : 1.563rem;
    $text-size-lg              : 1.25rem;
    $text-size-md              : 1rem;
    $text-size-sm              : 0.8rem;
    $text-size-xs              : 0.64rem;
    $text-size-xxs             : 0.512rem;

    $gutter-size-xxxl          : 2.441rem;
    $gutter-size-xxl           : 1.953rem;
    $gutter-size-xl            : 1.563rem;
    $gutter-size-lg            : 1.25rem;
    $gutter-size-md            : 1rem;
    $gutter-size-sm            : 0.8rem;
    $gutter-size-xs            : 0.64rem;
    $gutter-size-xxs           : 0.512rem;

